*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    width: 100%;
}

main {
    min-height: 100vh;
    width: 100%;
    padding: 0rem 6rem 6rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#card-container {
    padding: 3rem 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.pokemon-card {
    border: 10px solid orange;
    border-radius: 1.5rem;
    width: 350px;
    height: auto;
    position:relative;
    text-align: center;
}

.pokemon-number {
    position: absolute;
    top: 0rem;
    left: 1rem;
    font-weight: bold;
}

.pokemonImage {
    width: 300px;
    height: 300px;
}

.pokemon-types {
 display: flex;   
 justify-content: space-evenly;
}

.stat-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    text-align: start;
    list-style: none;
    justify-content: space-evenly;
}

.stat-element {
    padding: 1rem;
}